pyspark==3.5.5
apache-airflow-providers-apache-spark==5.2.0
orjson
gcloud==0.18.3
gcsfs==2025.3.0
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-re2==1.1.20240702
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
requests-toolbelt==1.0.0
sparkdantic==1.5.0
envyaml==1.10.211231
boto3==1.35.64
acryl-datahub-airflow-plugin[plugin-v2]
s3fs==2025.3.0
confluent_kafka==2.8.2
fastavro==1.10.0
apache-airflow-providers-dbt-cloud==4.2.1
google-cloud-bigquery-storage==2.30.0 
google-cloud-bigquery-storage[fastavro]==2.30.0
